<ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">NHÂN VIÊN</div>
    </a>

    <!-- Divider -->
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="@Url.Action("Index", "MonAn")">
            <h5>Quản lý món ăn</h5>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="@Url.Action("Index", "DonHang")">
            <h5>Quản lý đơn hàng</h5>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="@Url.Action("EditAccount", "LoginUser", new { id = Session["ID"]})">
            <h5>Thông tin</h5>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->




</ul>

