@model WebBanThucAnNhanh.Models.DATHANG

@{ ViewBag.Title = "CheckoutSuccess"; }
<head>
    <link href="~/Assets/css/GioHang/checkout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Assets/css/GioHang/use.css" rel="stylesheet" />
    <link href="~/Assets/css/GioHang/StyleSheet1.css" rel="stylesheet" />
</head>

<div class="header-bg">
    <div class="header">
        <div class="header-all">
            <div class="header-all-font">
                <div class="header-all-font2">
                    KFC RESTAURANT
                </div>
            </div>
            <div class="header-all-fbottom">
                <div class="header-all-fbottom-flex">
                    <ul class="header-all-fbottom-flex-ul">
                        <li class="header-all-fbottom-flex-li">
                            <a href="/Home">HOME</a>
                        </li>
                        <li class="header-all-fbottom-flex-li">
                            <a href="">ABOUT</a>
                        </li>
                        <li class="header-all-fbottom-flex-li">
                            <a href="">OFFER</a>
                        </li>
                        <li class="header-all-fbottom-flex-li">
                            <a href="">MENU</a>
                        </li>
                        <li class="header-all-fbottom-flex-li">
                            <a href="">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title">
    <div class="sh-table-cell">
        Shop
    </div>
    <div class="title2 sh-table-cell">
        <span class="title2-all">
            <a href="/Home">Home</a>
        </span>
        <span class="title2-all title2-cart"> > </span>
        <span class="title2-all title2-cart">Thanh Toán</span>
    </div>
</div>
<div class="shopping-cart">
    <div class="padding">
        <div class="giohang1">
            <div class="giohang2both">
                Giỏ Hàng
            </div>
            <div class="giohang2both">
                Thanh Toán
            </div>
            <div class="giohang2 giohang2both">
                Thành Công
            </div>
        </div>
    </div>
    <div class="padding-table">
        <h3 style="font-size: 24px; font-weight: 800;text-align:center;">Khách Đã Đặt Món Ăn Thành Công . Quý Khách Vui Lòng Đợi Vài Phút Để Bên Nhân Viên Gọi Chốt Đơn Hàng</h3>
        <h4 style="font-size: 20px; font-weight: 600;text-align:center;">
            Nếu Quý Khách Muốn Tiếp Tục Mua Thêm Món Ăn . Hãy Chọn Vào Đây.
        </h4>
        <div style="text-align:center;padding-bottom:60px;">
            <a href="/Home/">
                <input class="btn-back" type="submit" value="Quay Về Trang Chủ" />
            </a>
        </div>
    </div>
</div>
